<div class="container">
	<div class="home-page btn-link-hover">
		<img src="images/monkees-logo-1.png">
		<h1>{{title}}</h1>
		<p>We are a famous band who love to make some shows to promote fun!<p>
		<p>Find all the latest and most popular musics out right now.</p>
		<p>See what's top rated and upcoming in the near future!</p>
		<a href="#/musics" class="btn-link">Enter Musics</a>
	</div>
		<hr>
	<div class="row">
		<h1>Sign up to receive our newsletter</h1>
		<script src="javascript/my.js"></script>
		<form action="templates/fanlist_action.php" method="post" id="idf">
			Name: <input type="text" name="name" placeholder="name"><br>
			E-mail: <input type="email" name="email" placeholder="email" /><br>
			<input type="button" onclick="validaemail()" value="Submit" /><br />
		</form>
</div>
