	<div class="bckg">
<div class='container'>
	<h1>{{title}}</h1>
	<div class='row'>
			<div class="col-md-4 col-sm-2 col-xs-2">
			
				<img src="images/album.jpg" alt="enjoy the music!" class="imgheight"><br><br>
				<p>Take the Last Train to Clarksville Music</p>
				<audio src="/images/audio/Clarksville.mp3" autobuffer autoloop loop controls></audio> <br>
			<p>  
			<a href="http://www.musicroom.com/se/id_no/0518276/details.html?kbid=1582&gclid=Cj0KEQiAkO7CBRDeqJ_ahuiPrtEBEiQAbYupJQWhzxdkflBKEWbmJe7X9eHmUylj9etbpv9CsUyLHPoaAttB8P8HAQ">Buy this song</a>
			<hr>
			</p>
				<img src="images/cover1.jpg" alt="enjoy!" class="imgheight"><br><br>
				<p>Day dream Believer Music</p>
				<audio src="/images/audio/DaydreamBeliever.mp3" autobuffer autoloop loop controls></audio> 
			<p>
			<a href="http://www.musicroom.com/se/id_no/0568636/details.html?kbid=1582&gclid=CjwKEAiAs_PCBRD5nIun9cyu01kSJAA-WD-r1KhApktfQv94b6_0t4onREFFVNnsT1eAkwKffDmOuRoC43Pw_wcB">Buy this song</a>
			<hr>
			</p>
			</div>
			<br>
			<div class="col-md-4 col-sm-2 col-xs-2">

				<img src="images/album2.jpg" alt="enjoy music for fun!" class="imgheight"><br><br>
				<p>Im a Believer Music</p>
				<audio src="/images/audio/ImABeliever.mp3" autobuffer autoloop loop controls></audio> 
			<p>  
			<a href="http://www.musicroom.com/se/id_no/0657812/details.html?kbid=1582&gclid=CjwKEAiAs_PCBRD5nIun9cyu01kSJAA-WD-r6Wli8mBgihFX9sX1C0Myc3dhekrj2TFyEzDYOcqMWBoCH-zw_wcB">Buy this song</a>
			<hr>
			</p>
				<img src="images/cover3.jpg" alt="music for fun!" class="imgheight"><br><br>
				<p>Stepping Stone Music</p>
				<audio src="/images/audio/SteppingStone.mp3" autobuffer autoloop loop controls></audio> 
				<p>
				<a href="http://www.musicroom.com/se/id_no/0603271/details.html?kbid=1582&gclid=CjwKEAiAs_PCBRD5nIun9cyu01kSJAA-WD-r2M9ibpUBgI6yYd9xbebiiN1jM7qX8-UFlLH7VyXZ1BoCBKfw_wcB">Buy this song</a>
			<hr>
			</p>
			</div>
			<div>
				Search your favorites musics:<br>
				<input type=text id=t1>
				<input type=button onclick="javascript:go();" value="Search">
			</div>
		</div>
	</div>
</div>
